language: node_js
node_js:
  - "12"
dist: trusty
sudo: false
install:
  - npm install
sudo: required
addons:
  chrome: stable
cache:
  directories:
    - "node_modules"
before_script:
  - npm run lint
script:
  - npm run coverage
  - npm run test:types
after_success:
  - npm run coveralls
